.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}

.title span {
    color: lightgreen;
}

.menu ul {
    display: flex;
}

.menu ul {
    list-style: none;
}